@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

svg[display="none"] {
  display: none;
}

/** 
TODO: temporilary setting these here for now. need to create a theme
*/
.blocklySvg {
  background-color: #222 !important;
}

.blocklyToolboxDiv,.blocklyFlyoutBackground {
  background-color: #444;
  fill: #444;
  color: #ddd;
}