@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/** Fixed blockly toolbox slide out scroolbar **/
svg[display="none"] {
  display: none;
}

/* This is used to hide the tab moveable overflow which scrolls the folder 
 * header in the folder tree that we don't want 
*/
.flexlayout__tab_moveable {
  overflow: hidden;
}